@model MiniInstagramWithAuthнпшлзхзжогорм с.Models.Post
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>Create</h3>
    <form action="/Home/Create" method="post">
        <p>Текст = </p>
        <input type="text" name="Text" size="500" value=""><br><br><br>
        <p>Выберите графический файл (в папке /Content/Images/) = </p>
        <input type="file" name="Url" value="../Content/Images/"*.*><br><br>
        <button type="submit" class="btn btn-primary btn-lg">Добавить</button>
    </form>
</body>
</html>
